<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p><b>The Phoenix Park</b></p>
      <%= image_tag "phoenix.jpeg", :class => "img_rounded", :width => "500", :height =>"300" %>
      <br />
      <p>The Phoenix Park is one of the largest enclosed recreational spaces within any European capital city.  The Phoenix Park was established in 1662 by one of Ireland’s most illustrious viceroys, James Butler, Duke of Ormond, on behalf of King Charles II.  Conceived as a Royal deer park, it originally included the demesne of Kilmainham Priory south of the River Liffey, but with the building of the Royal Hospital at Kilmainham, which commenced in 1680, the Park was reduced to its present size, all of which is now north of the river. </p>
    </div>
    <div class="col-sm-4">
      <p><b>Kilmainham Gaol</b></p>
      <%= image_tag "Kilmainham.jpeg", :class => "img_rounded", :width => "500", :height =>"300" %>
      <p>Kilmainham Gaol is one of the largest unoccupied gaols in Europe, covering some of the most heroic and tragic events in Ireland's emergence as a modern nation from 1780s to the 1920s. Attractions include a major exhibition detailing the political and penal history of the prison and its restoration. The tour of the prison includes an audio-visual show. Tours may be arranged for visitors with special needs by prior arrangement.</p>
    </div>
    <div class="col-sm-4">
      <p><b>Dublin Zoo</b></p>      
      <%= image_tag "Dublinzoo.jpeg", :class => "img_rounded", :width => "500", :height =>"300" %>
      <p>Dublin Zoo is much more than a fun-filled, stimulating day out for all the family... it’s a place to learn about wild animals, especially those which are endangered. The Zoo is a registered charity – your visit will help maintain Dublin Zoo to a high standard, improve the Zoo and contribute to conservation programmes.  
      Located in the Phoenix Park in the heart of Dublin city, Dublin Zoo is Ireland’s most popular family attraction, and welcomed over one million visitors last year. 
      </p>
    </div>
  </div>
</div>
</body>
</html>
 
 




    